* {
  box-sizing: border-box;
}

.product {
  text-align: center;
  align-items: center;
  display: flex;
  width: 800px;
  border: 5px solid black;
  flex-direction: column;
}

.product-title {
  align-self: center;
  margin-top: 0px;
}

#images {
  align-self: flex-start;
}

.item3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

#paragraph {
  align-self: stretch;
  flex-grow: 1;
}
