.studentForm {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 10px;
}
body {
  background-color: blanchedalmond;
}
form {
  text-align: center;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

input:last-child {
  margin-bottom: 0px;
}

input[submit] {
  text-align: center;
}
