* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik" sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-image: url("img/forms/losAng.jpg");
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 85rem;
}

#reg {
  font-family: sans-serif;
  margin-top: 5rem;
  list-style: 200;
}

.descriptionLabel {
  margin-left: 0rem;
  font-size: 1.5rem;
}

.el {
  display: flex;
  margin-top: 2rem;
}

#firstName {
  border-radius: 6px;
}
