* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik" sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #f4f4f4;
  background-image: url("img/forms/losAng.jpg");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 85rem;
}

h2 {
  margin-top: 5rem;
  font-size: 3rem;
  margin-bottom: 2rem;
}
