.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #45260a;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(125, 205, 219);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: rgb(133, 175, 180);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600px;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: rgb(134, 187, 189);
  color: #fff;
  margin-right: 1.6rem;
}

.btn--full:hover,
.btn--full:active {
  background-color: rgb(83, 151, 153);
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  box-shadow: inset 0 0 0 3px #fff;
}

.link:link,
.link:visited {
  display: inline-block;
  color: rgb(65, 173, 173);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
}

.link:hover,
.link:active {
  color: rgb(65, 173, 173);
  border-bottom: 1px solid transparent;
}

/* HELPER|SETTINGS CLASS  */

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.center-text {
  text-align: center;
}

.margin-top-sm {
  margin-top: 2rem !important;
}

.margin-bottom-sm {
  margin-bottom: 2rem !important;
}

.containerr {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5rem;
}

.subheadingg {
  color: rgb(150, 150, 150);
  font-size: 4rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.heading-secondaryy {
  font-size: 3rem;
  color: rgb(150, 150, 150);
  background-image: linear-gradient(
    to right,
    rgb(240, 240, 240),
    rgb(121, 121, 121)
  );
  text-transform: uppercase;
  transition: all 0.3s;
  color: transparent;
  letter-spacing: 2px;
}

.heading-secondaryy:hover {
  transform: skewY(0deg) skewX(15deg) scale(1.1);
}
