.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #45260a;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(125, 205, 219);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: rgb(133, 175, 180);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600px;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: rgb(134, 187, 189);
  color: #fff;
  margin-right: 1.6rem;
}

.btn--full:hover,
.btn--full:active {
  background-color: rgb(83, 151, 153);
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
