* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik" sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/***********************************************/
/* HEADER */
/**********************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(78, 92, 158);

  /*Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 4.4rem;
  width: 4.4rem;
}

.main-nav {
  color: #fdf2e9;
  font-size: 2rem;
}

/***********************************************/
/* NAVIGATION */
/**********************************************/

/* Create a reusable grid */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
  align-items: center;
}

/* We add margin to the bottom if it is not the last child */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #45260a;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
}

.heading-tertiary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(73, 59, 59);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: rgb(133, 175, 180);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600px;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: rgb(134, 187, 189);
  color: #fff;
  margin-right: 1.6rem;
}

.btn--full:hover,
.btn--full:active {
  background-color: rgb(83, 151, 153);
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: rgb(79, 180, 226);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: rgb(143, 214, 214);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: rgb(75, 173, 173);
}

/************************************************/
/* STICKY NAVIGATION */
/************************************************/
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(2, 3, 70);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.3);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/************************************************/
/* HERO SECTION */
/***********************************************/

.section-hero {
  background-color: rgb(78, 92, 158);
  padding: 8.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8.6rem;
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: rgb(206, 201, 201);
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: rgb(201, 199, 199);
}

.mirror-img {
  width: 100%;
  border-radius: 50%;
}

.developer {
  width: 15rem;
  height: 15rem;
}

.professional-developers {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.developers-imgs {
  display: flex;
}

.developers-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.developers-imgs img:last-child {
  margin: 0;
}

.delivered-developers {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.delivered-developers span {
  color: rgb(125, 205, 219);
  font-size: 700;
}

/**********************************/
/* FEATURED IN SECTION */
/*********************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/************************************************/
/* HOW IT WORKS SECTION */
/************************************************/
.section-how {
  padding: 9.6px 1rem;
  margin-top: 4rem;
  background-color: #fff;
}
.margin-bottom {
  margin-bottom: 2rem;
}

.step-img {
  margin-top: 7rem;
  width: 60%;
  border-radius: 50%;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-description {
  font-size: 2rem;
  line-height: 1.8;
}

.step-number {
  margin-top: 1rem;
  font-size: 9.8rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

/*****************************************/
/* LIFECYCLE SECTION */
/****************************************/

.section-lifecycle {
  padding: 9.6rem 0;
}

.front-end {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  padding: 4.8rem;
  transition: all 0.4s;
}

.front-end:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.front-img {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  overflow: hidden;
  padding: 4.8rem;
}

.front-content {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.front-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #a4d6e2;
  color: #333;
  border-radius: 100px;
}

.tag--frontEnd {
  background-color: rgb(193, 236, 236);
}

.tag--database {
  background-color: rgb(62, 185, 185);
}

.front-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.front-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.front-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.front-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #08437a;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #4fa6ce;
}

.all-steps {
  text-align: center;
  font-size: 1.8rem;
}

.margin-bottom-md {
  margin-bottom: 4.6rem !important;
}

/******************************************/
/* TESTIMONIALS SECTION */
/******************************************/

.section-comments {
  background-color: #82b4d4;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.comments {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.comment-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.comment-text {
  font-size: 1.8rem;
  line-height: 1.8; /* This will be multiplier will multiply 1.8 * font-size = line-height  */
  margin-bottom: 1.6rem;
}

.comment-name {
  font-size: 1.6rem;
  color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/******************************************/
/* PRICING SECTION */
/******************************************/

.section-pricing {
  padding: 9.6rem 0;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.pricing-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}

.pricing-plan--starter {
  /* For one particular grid item */
  justify-self: end;
  border: 2px solid #0f0803;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #bbccd8;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-name {
  color: #000000;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.7rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500; /* span is child of plan-price , so inheriting the font-weight  */
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 2.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #4fa6ce;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*******************************************/
/* CTA SECTION */
/********************************************/

.section-cta {
  /* top / right / bottom / left */
  padding: 9.6rem 0 12.8rem 0;
}

.cta {
  /* For all the big overall page layout elements i use CSS Grid */
  display: grid;
  grid-template-columns: 2fr 1fr; /* 2 out of 3 for the first one and 1 out of 3 for the second one */
  background-color: #4fa6ce;
  box-shadow: 0 2.4rem 4.8rem rgba(71, 71, 71, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #4fa6ce, #075174);
  height: 50rem;
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #000000;
}

.cta .heading-secondary {
  color: #000000;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(103, 181, 233, 0.3),
      rgba(28, 93, 128, 0.3)
    ),
    url(../img/cta/developerGirl.jpg);
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}

.cta-form input::placeholder {
  color: rgb(0, 0, 0);
}

/**************************************************/
/* FOOTER */
/*************************************************/

.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #eee;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-address {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-phone-email {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
